@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e2e;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e2e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);

}

.rps-button {
  @apply w-24 h-24 bg-yellow-500 text-white rounded-full shadow-md transition-all hover:scale-110 hover:bg-yellow-600;
}
html {
  scroll-behavior: smooth;
}
